<section>
    <header>
        <h3>Login </h3>
        <p><a (click)="LaunchModal()" href="#" title="launch modal">Launch modal</a></p>
    </header>
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6">
            <form [formGroup]="logInForm" novalidate autocomplete="false">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label required" for="email">E-mail Address
                                <sup class="asterix">*</sup>
                            </label>
                            <input formControlName="email" autofocus id="email" name="email" type="email" placeholder="Enter e-mail Address" [ngClass]="{
                                        'form-control': true,
                                        'invalid': logInForm.controls.email.invalid && logInForm.controls.email.dirty,
                                        'valid': logInForm.controls.email.valid && logInForm.controls.email.dirty}
                                        ">
                            <div *ngIf="logInForm.controls.email.invalid && (logInForm.controls.email.dirty || logInForm.controls.email.touched)" class="error-list">
                                <span class="error-list__item" *ngIf="logInForm.controls.email.errors.required">
                                    <small>The email address is required</small>
                                </span>
                                <span class="error-list__item" *ngIf="logInForm.controls.email.errors.pattern">
                                    <small>Please type a valid email address</small>
                                </span>
                                <span class="error-list__item" *ngIf="logInForm.controls.email.errors.minlength">
                                    <small>email must be more than 4 characters long</small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label required" for="password">Password
                                <sup class="asterix">*</sup>
                            </label>
                            <input formControlName="password" id="password" name="password" type="password" placeholder="Enter Password" [ngClass]="{
                                        'form-control': true,
                                        'invalid': logInForm.controls.password.invalid && logInForm.controls.password.dirty,
                                        'valid': logInForm.controls.password.valid && logInForm.controls.password.dirty}
                                        ">
                            <div *ngIf="logInForm.controls.password.invalid && (logInForm.controls.password.dirty || logInForm.controls.password.touched)" class="error-list">
                                <span class="error-list__item" *ngIf="logInForm.controls.password.errors.required">
                                    <small>The password is required</small>
                                </span>
                                <span class="error-list__item" *ngIf="logInForm.controls.password.errors.minlength">
                                    <small>Password must be more than {{ this.pwMinLength }} characters long</small>
                                </span>
                                <span class="error-list__item" *ngIf="logInForm.controls.password.errors.pattern">
                                    <small>Password must be have at least 1 special characters and a number</small>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-default btn-sm btn-brand" (click)="this.SubmitLoginDetails()">Log in</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</section>