
/* fonts */

$font-open-sans--regular: 'opensans_regular';
$font-open-sans--light: 'opensans_light';

/* colors */

$color-brand--grey: #F4F6F7;
$color-brand--light-green: #1FBA97;
$color-brand--green: #1A9E80;

$color--white: #ffffff;
$color--red: #ff0000;
$color--green: #00ff00;
$color--grey: #eee;
$color--darker-grey: rgb(224, 224, 224);
$color--blue: #025aa5;
$color--black: #000000;
$color-grey--wash: rgba(0,0,0,0.5);  
