<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                        <hr />
                    <nav>
                        <ul class="list-unstyled">
                            <li><a href="/" title="Notes App" runat="server"><small>&copy; NotesApp {{ this.outDateYear }}</small></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>