<nav *ngIf="this.userIsLoggedIn">
    <ul class="list-unstyled list-inline">
        <li>
            <a href="#" (click)="this.NavigateTo('/dashboard')" title="Dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#" (click)="this.NavigateTo('/home')" title="Home">Home</a>
        </li>
        <li>
            <a (click)="LaunchModal()" href="#" title="launch modal">Modal</a>
        </li>
        <li>
            <a href="#" (click)="this.LogOutUser()">Logout</a>
        </li>
    </ul>
</nav>