
.comments {
    &__item {
      background-color: $color--grey;
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    &--image {
        border-radius: 10px;
        /* width: 50px; */
        overflow: hidden;
        img {
            @include responsive-image;
        }
    }
  }